<div class="row">
  <div class="span8">
    <div class="box">
      <%= simple_form_for(@profile, method: :put, multipart: true, html: { class: 'form-horizontal'}) do |f| %>
        <fieldset>
          <legend><%= t("users.personal_information")%></legend> 
          <%= f.error_notification %>
          <%= f.input :nickname, autofocus: true %>
          <%= f.input :gender, :collection => [:male, :female] %>
          <%= f.input :birthday %>
          <%= f.input :location %>
          <%= f.input :avatar %>
          <%= f.input :website %>
          <%= f.input :tagline %>
          <%= f.input :bio, as: :text %>
          <div class="form-actions">
            <%= f.button :submit, t('common.update'), class: 'btn btn-primary', disable_with: t('common.saving') %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>

  <div class="span4">
    <div class="box">
      <h3 class="title" ><%= t("users.delete_my_account")%></h3>

    </div>
  </div>
</div>