<li class="reply-item" id="reply-<%= reply_item.id %>">
  <div class="item-detail">
    <div class="content clearfix">
      <%= image_tag(reply_item.user.profile.avatar.url(:normal), class: "avatar pull-left") %>
      <span class="small clearfix">
        <strong>
          <%= link_to(reply_item.user.display_name, user_path(reply_item.user.username), class: 'author') %>
        </strong> 
        <%= timeago(reply_item.created_at, class: "published") %>
        <%= reply_likeable_tag(reply_item) %>
        <% if current_user %>
        <span class="pull-right">
          <ul>
            <li><%= likeable_tag(reply_item) %></li>
            <li><a href="" title="回复" class="tips"><i class="icon-share-alt"></i></a></li>
            <li>
              <% if can?(:update, reply_item) %>
                <%= link_to edit_topic_reply_path(@topic, reply_item), class: "tips", title: "修改" do %>
                <i class="icon-pencil"></i>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if can?(:destroy, reply_item) %>
                <%= link_to topic_reply_path(@topic, reply_item), class: "tips", title: "删除", method: :delete, confirm: t("common.confirm_delete") do %>
                <i class="icon-trash"></i>
                <% end %>
              <% end -%>
            </li>
            <li class="no"><%= reply_item_counter +1 %></li>
          </ul>
        </span>
        <% end %>
      </span>
      <span class="reply-content">
        <%= raw reply_item.content_html %>
      </span>
    </div>
  </div>
</li>