<%= simple_form_for(@topic, html: {class: 'form-horizontal'}) do |f| %> 
  <fieldset>
    <legend><%= @topic.new_record? ? t("topics.create_topic") : t("topics.edit_topic") %></legend>
    <%= f.input :title do %>
      <%= render_topic_node_select_tag(@topic) %>
      <%= f.text_field :title, class: "span3" %>
    <% end %>
    
    <div class="control-group editor_tools">
      <label class="control-label"></label>
      <div class="controls">
        <%= render "editor_toolbar" %>
      </div>
    </div>
    <%= f.input :content, as: :text, input_html: { class: "span5", row: '15' }%>

    <div class="form-actions">
      <%= f.submit t("common.save"), class: "btn btn-primary", data: {disable_with: t("common.saving")} %>
      <%= link_to(t("common.cancel"), @topic.id.blank? ? root_path : topic_path(@topic), class: "btn")%>
    </div>
  </fieldset>
<% end %>
