<li class="topic-item">
  <div class="item-detail">
    <div class="content clearfix">
      <%= image_tag(topic_item.user.profile.avatar.url(:normal), class: "avatar pull-left") %>
      <span class="item-title">
        <%= link_to(truncate(topic_item.title, length: 64), topic_path(topic_item), title: topic_item.title) %>
      </span>
      <span class="small">
        <%= link_to(topic_item.node.name, '#', class: "node") %> • 
        <strong>
          <%= link_to(topic_item.user.display_name, user_path(topic_item.user), class: "author") %>
        </strong> • 
        <% if topic_item.last_reply.blank? %>
        <%= timeago(topic_item.created_at, class: "published") %>
        <% else %>
        <%= timeago(topic_item.replied_at, class: "published") %> • <%= t('common.reply_from') %>
        <%= link_to(topic_item.last_reply.user.display_name, user_path(topic_item.last_reply.user)) %>
        <% end %>
      </span>
    </div>
  </div>
</li>