<div class="row">
  <div class="span8">
    <div id="topic-show" class="box">
        <div class="topic-header">
          <div class="content clearfix">
            <%= image_tag(@topic.user.profile.avatar.url(:large), class: 'avatar pull-right') %>
            <h1 class="entry-title"><%= truncate(@topic.title, length: 64) %></h1>
            <small class="metadata"><%= t("common.by") %> <strong><%= link_to(@topic.user.display_name, user_path(@topic.user.username), class: 'author') %></strong> <%= timeago(@topic.created_at, class: "published") %><%= t("common.published")%>, <%= @topic.views_count %> <%= t("common.read_times")%></small>
            <div class="topic-content">
              <%= raw @topic.content_html %>
            </div>
          </div>
        </div>
        <div class="topic-toolbox clearfix">
          <ul class="pull-right">
            <li><i class="icon-eye-open"></i><strong><%= @topic.views_count %></strong></li>
            <li><i class="icon-heart"></i><strong>23</strong></li>
            <li><i class="icon-comment"></i><strong>45</strong></li>
            <li><i class="icon-bookmark"></i></li>
            <% if owner?(@topic) or admin? %>
            <li>
              <%= link_to edit_topic_path(@topic), class: 'tips', title: "修改本帖" do %>
                <i class="icon-pencil"></i>
              <% end %>
            </li>
            <li>
              <%= link_to topic_path(@topic.id), class: 'tips', title: "删除本帖", method: :delete, confirm: t("common.confirm_delete") do %>
                <i class="icon-trash"></i>
              <% end %>
            </li>
            <% end %>
          </ul>         
        </div>    
    </div>

    <% if @replies.blank? %>
    <div class="placeholder">
      <span><%= t('topics.no_replies') %></span>
    </div>
    <% else %>
    <div id="replies-show" class="box">
      <div class="summary">
        <%= render 'summary', topic: @topic %>
      </div>
      <ul class="replies">
        <%= render partial: 'replies/reply_item', collection: @replies %>
      </ul>
    </div>
    <% end %>

    <% if current_user %>
    <div id="reply" class="box">
      <%= render "editor_toolbar" %>
      <%= form_for(Reply.new, remote: true, url: topic_replies_path(@topic)) do |f| %>
        <%= f.text_area :content, class: "span-textarea", rows: "7", tabindex: "1" %>
        <div class="submit-buttons">
          <%= f.submit t("topics.submit_reply"), class: 'btn', disable_with: t("common.submitting") %>
          <span class="pull-right gray">请尽量让自己的回复能够对别人有帮助</span>
        </div>
      <% end %>
 
    </div>
    <% end %>

  </div> <!-- end of left column -->
  <div class="span4">
    <%= render 'common/right_column' %>
  </div> <!-- end of right column -->
</div>