<div class="row">
	<div class="span8">
    <div class="box">
      <div class="user-profile vcard clearfix">
        <%= image_tag(@user.profile.avatar.url(:huge), class: 'avatar pull-left') %>
        <h1><strong> <%= @user.display_name %> </strong><small>@<%= @user.username %></small></h1>
        <ul>
          <% if !@user.profile.location.blank? %>
            <li><i class="icon-map-marker icon-large"></i><strong><%= @user.profile.location %></strong></li>
          <% end %>
          <% if !@user.profile.website.blank? %>
            <li><i class="icon-globe icon-large "></i><strong><%= @user.profile.website %></strong></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div><!-- end of left column -->
  <div class="span4">
    <%= render 'common/right_column' %>
  </div><!-- end of right column -->
</div>
