<div class="row">
	<div class="span8">
    <div class="box user-profile">
      <div class="vcard clearfix">
        <%= image_tag(@user.profile.avatar.url(:huge), class: 'avatar pull-left') %>
        <h1 title="第<%= @user.id %>号会员，加入于<%= I18n.l(@user.created_at.to_date, format: :long) %>" class="tips"><strong><%= @user.display_name %> </strong><small>@<%= @user.username %></small></h1>
        <% if !@user.profile.tagline.blank? %>
          <small class="tagline gray"><strong><%= @user.profile.tagline %></strong></small>
        <% end %>
        <ul>
          <% if !@user.profile.location.blank? %>
            <li><i class="icon-map-marker icon-large"></i><strong><%= @user.profile.location %></strong></li>
          <% end %>
          <% if !@user.profile.website.blank? %>
          <% website = @user.profile.website[/^https?:\/\//] ? @user.profile.website : "http://" + @user.profile.website %>
            <li>
              <%= link_to website, target: '_blank' do %>
              <i class="icon-globe icon-large"></i><strong><%= @user.profile.website %></strong>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= link_to '#', class: 'user-follow' do %>
        <span>Follow</span>
        <% end -%>
      </div>
    </div>
    <% if @topics.any? %>
    <div class="box topics-list">
      <div class="summary">
        <span class="gray"><strong><%= @user.display_name %> </strong>最近创建的主题</span>
      </div>
        <ul class="topics">
        <%= render partial: 'topics/topic_item', collection: @topics %>
        </ul>
        <span class="more-link">
          <%= link_to '' do %>
            <strong><%= @user.display_name %> </strong>创建的更多主题 <i class="icon-chevron-right "></i>
          <% end %>
        </span>
    </div>
    <% else %>
    <div class="placeholder">
      <span>Srroy, have nothing yet! 对不起，<%= @user.display_name %> 还没有任何主题！</span>
    </div>
    <% end %>
    <% if @replies.any? %>
    <div class="box replies-list">
      <div class="summary">
        <span class="gray"><strong><%= @user.display_name %> </strong>最近回复了</span>
      </div>
      <ul class="replies">
        <%= render partial: 'replies/user_reply_item', collection: @replies %>
      </ul>
      <span class="more-link">
        <%= link_to '' do %>
          <strong><%= @user.display_name %> </strong>创建的更多回复 <i class="icon-chevron-right "></i>
        <% end %>
      </span>
    </div>
    <% else %>
    <div class="placeholder">
      <span>Srroy, have nothing yet! 对不起，<%= @user.display_name %> 还没有任何回复！</span>
    </div>
    <% end %>
  </div><!-- end of left column -->
  <div class="span4">
    <% if !@user.profile.bio.blank? %>
    <div class="box user-bio">
      <h3 class="title">About <span><%= @user.display_name %></span></h3>
      <%= simple_format(@user.profile.bio) %>
    </div>
    <% end %>
    <%= render 'common/right_column' %>
  </div><!-- end of right column -->
</div>
